.all {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
}
.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section {
  width: 100%;
  height: 100%;
}
.image {
  height: 100%;
  background-size: cover;
}

.cha:hover ~ .hov {
  display: block;
}
.te:hover ~ .hov {
  display: block;
}
